

.login-form {
    width: min-content;
    height: min-content;
    margin: auto;
    margin-top: 150px;
}

.show-form {
    width: min-content;
    height: min-content;
    margin: auto;
    margin-top: 150px;
}

label[for="input"] {
    font-size: 1.5em;
}

